@import 'base';

@mixin selection() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

html,
body {
  min-height: 400px;
  min-width: 600px;
  @include selection();
}

body {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

header.page-header {
  margin: auto;
  border-bottom: thick solid #2a1d2d;
  text-align: center;
}

header.page-header a {
  font-size: 2em;
  padding: 10px;
}

.page-header {
  margin: 0 0 20px;
}

#jspaint-tools {
  margin-bottom: .5em;
}

#jspaint-paint-area {
  min-height: 320px;
  min-width: 400px;
  border: thin solid #333;
  margin: 5px auto;
}

#jspaint-canvas.working-with-tools {
  cursor: crosshair;
}

.main-tool {
  border-bottom: thin solid rgba(0, 0, 0, .5);
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  padding: 2px;
  border: thin solid rgba(0, 0, 0, 0.3);
}

.main-tool-menu {
  display: inline-block;
  padding: 2px;
  border: thin solid rgba(0, 0, 0, 0.3);
}

.main-tool-menu button {
  background-color: transparent;
  padding: 0;
  @extend .no-border;
}

.main-tool-menu button:hover,
.main-tool-menu.dropdown.open button.btn-default:active {
  background-color: transparent;
}

.main-tool-menu .main-tool {
  margin-top: 5px;
}

.common-menu-bar {
  min-width: 600px;
  width: 100%;
  overflow: auto;
  background-color: #666;
}

.common-menu-bar a {
  display: inline-block;
  color: $Black;
  background-color: #DDddDD;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: thin solid $White;
  outline: thin solid $Black;
  padding: 0 2px;
}

.common-menu-bar a:hover {
  border: thin solid $Black;
  outline: thin solid $White;
}

.common-menu-bar .menu-item {
  float: left;
  margin: 5px;
}

.menu-item .menu-item {
  margin: 0 5px;
}

.menu-item label {
  margin: 0 5px;
}

i.glyphicon:active {
  color: #FF0000;
}

#status-bar {
  font-size: .8em;
}

.contextual-tool-bar input[disabled="disabled"] {
  cursor: not-allowed;
}

header.Menu {
  margin: 20px;
}
