:root {

    --white: #FFFFFF;
    --black: #000000;
    --whiteborder: thin solid var(--white);
    --blackborder: thin solid var(--black);
}

* {
    box-sizing: content-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.no-show {
    visibility: hidden;
}

.no-exist {
    display: none;
}

.no-border {
    border: none;
}

.no-outline {
    outline: none;
}

@media print {
    .Menu, .utilities {
        display: none;
    }

    #jspaint-paint-area {
        border: none;
    }
}

html,
body {
    min-height: 400px;
    min-width: 600px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}


header.page-header {
    margin: auto;
    border-bottom: thick solid #2a1d2d;
    text-align: center;
}

header.page-header a {
    font-size: 2em;
    padding: 10px;
}

.page-header {
    margin: 0 0 20px;
}

#jspaint-tools {
    padding: 1rem;
    margin-bottom: 1rem;

}

#jspaint-paint-area {
    min-height: 320px;
    min-width: 400px;
    border: thin dotted #333;
    margin: 1rem auto;
    box-shadow: 0 0 2px black;
}

#jspaint-canvas.working-with-tools {
    cursor: crosshair;
}

.main-tool {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border: thin solid rgba(0, 0, 0, 0.3);

}

.main-tool-menu {

    display: inline-block;
    border: thin solid rgba(0, 0, 0, 0.3);
}

.main-tool-menu button {
    background-color: transparent;
    border: none;
    padding: 1rem;
}

.main-tool-menu button:active {
    background-color: darkred;
}

.main-tool-menu button:hover,
.main-tool-menu.dropdown.open button.btn-default:active {
    background-color: transparent;
}

.main-tool-menu .main-tool {
    margin-top: 5px;
}

.common-menu-bar a {
    display: inline-block;
    color: var(--black);
    background-color: #DDddDD;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: thin solid var(--white);
    outline: thin solid var(--black);
    padding: 1rem;
}

.common-menu-bar a:hover {
    border: thin solid var(--black);
    outline: thin solid var(--white);
}

.common-menu-bar .menu-item {
    margin: 1rem;
}

.menu-item .menu-item {
    margin: 1rem;
}

.menu-item label {
    margin: 1rem;
}

i.glyphicon:active {
    color: #FF0000;
}

#status-bar {

}

.contextual-tool-bar input[disabled="disabled"] {
    cursor: not-allowed;
}

header.Menu {
    height: 100vh;
    border-right: thick solid black;
}

.page-header {

    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

button.btn.btn-lg {
    padding: 2rem 3rem;
    margin: 1rem;
}

.grid {
    display: grid;
    grid-gap: .5rem;
}
.grid-1-9 {
    grid-template-columns: minmax(300px, 1fr) 9fr;
}

.grid-1-1 {
    grid-template-columns: 1fr 1fr;
}

.grid-item{

}
