div.main-tool,
div.main-tool-menu {
    /*padding: .7em;*/
    /*box-shadow: 2px 2px 2px black;*/
    /*margin: .3em;*/
    /*min-width: 100px;*/
}

div.main-tool-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#status-bar {
    font-size: 1em;
    font-family: monospace;
}

#status-bar #activated-tool-name {
    font-weight: bold;
    color: black;
    text-shadow: 1px 0 1px black;
}

.menu-item a {
    padding: .1em;
    margin: .1em;
}

.contextual-tool-bar {
    padding: .1em;
    margin: .1em;
    border-radius: 5px;
    display: inline-block;
    color: #000;
}

.contextual-tool-bar .menu-item {
    width: 80%;
}
