:root {
    --black: #222;
    --white: #eee;
    --gold: #f7b81a;
    --red: #f12c2c;
    --primary-color: var(--black);
    --primary-bgcolor: #eee;
    --accent-color-primary: #f523f9;
    --accent-color-secondary: #fff200;
    --accent-color-tertiary: #10b405;

    --default-height: 1vh;
    --default-width: 1vw;

    --default-min-height: 5px;
    --default-min-width: 5px;

    --default-border: 1px solid var(--accent-color-secondary);
    --default-margin: 1vh 1vw;
    --default-padding: 1vh 1vw;

    --muted-text-color: #6c757d;

    --muted-red: #dc3545;
    --muted-red-dark: #c82333;
    --muted-green: #28a745;
    --muted-green-dark: #218838;
    --muted-yellow: #f9c72f;
    --muted-yellow-dark: #d39e00;
    --muted-orange: #e9a11f;
    --muted-orange-dark: #c18108;
    --muted-blue: #007bff;
    --muted-blue-dark: #0062cc;
    --muted-black: #343a40;
    --muted-black-dark: #23272b;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-bgcolor);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}
