!!! 5
%html
  %head
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %title Welcome to js paint home page
    %meta(author="Anubhav Saini")
    <link href="./bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="./jspaint.css" type="text/css" rel="stylesheet" />

  %body
    %header{:class=>"page-header"}
      %a{:href=>"https://github.com/iamanubhavsaini/jspaint"} Fork source code!
      %a{:href=>"https://github.com/iamanubhavsaini"}Author

    %div{:class=>"page-header"}
      .container
        %h1 Paint <small>without delay, online, from any device, at any time</small>


    %div{:class=>"jumbotron"}
      %div{:class=>"container"}
        %h1 Say Hello to jspaint!
        %p Online - Offline - Quick - Social Friendly

    .container
      .table-responsive
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th
              %th Options
          %tbody
            %tr
              %th{:class=>"text-nowrap", :scope=>"row"}Dimensions of Paint Area
              %td{:class=>"dimension-options"}
                %button{:type=>"button", :id=>"480x320", :class=>"btn btn-lg", :title=>"Width: 480px, Height: 320px"}480 X 320
                %button{:type=>"button", :id=>"600x400", :class=>"btn btn-lg", :title=>"Width: 600px, Height: 400px"}600 X 400
                %button{:type=>"button", :id=>"800x600", :class=>"btn btn-lg", :title=>"Width: 800px, Height: 600px"}800 X 600
                %button{:type=>"button", :id=>"Max", :class=>"btn btn-lg", :title=>"Whatever your screen supports."}Maximum
            %tr
              %th{:class=>"text-nowrap", :scope=>"row"}Orientation
              %td{:class=>"orientation-options"}
                %button{:type=>"button", :id=>"landscape", :class=>"btn btn-lg", :title=>"Lying down. Width is greater than height."}Landscape
                %button{:type=>"button", :id=>"portrait", :class=>"btn btn-lg", :title=>"Standing up. Height is greater than width."}Portrait
            %tr
              %th{:class=>"text-nowrap", :scope=>"row"}All set!
              %td
                %a{:id=>"jspaint-action", :class=>"btn btn-primary btn-lg", :href=>"./jspaint.html", :role=>"button"}Let's paint



    <script src="./jquery.js" type="text/javascript"></script>
    <script src="./iframe-buster.js" type="text/javascript"></script>
    <script src="./index.js" type="text/javascript"></script>
