body{
  margin: 0;
  padding:0;
  min-height: 400px;
  min-width: 600px;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-top: 60px;
}

#ToolSubMenuBar{
  position: fixed;
  left: 19.9%;
  z-index: 100;
  background-color: #eeEEee;
}

#ToolSubMenuBar .stopToolButton{
  text-align: center;
  color: red;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

#jspaint-tools{
  background-color: #ddDDdd;
  position: fixed;
  z-index: 0;
}

#jspaint-paint-area{
  height: 90%;
  width: 80%;
  min-height: 320px;
  min-width: 480px;
  position: fixed;
  right:0;
}

#jspaint-canvas.working-with-tools{
  cursor: crosshair;
}

.active-tool{
  background-color: #77aa77;
}
.tool-sub-menu-active{
  background-color: #337733;
}
.main-tool{
  border-bottom: thick solid rgba(0,0,0, .5);
  float:left;
  padding: 10px;
  margin: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.main-tool:hover{
  border-bottom: thick solid rgba(0,0,0, 1);
}
