* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #FAFAFA;
    margin: 0;
    min-height: 400px;
    min-width: 600px;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header.page-header {
    margin: auto;
    border-bottom: thick solid #2a1d2d;
    text-align: center;
}

header.page-header a {
    font-size: 2em;
    padding: 10px;
}

.page-header {
    margin: 0 0 20px;
}

#jspaint-tools > div {
    margin: .1vh 0;
    padding: .2vh .2vw;
}

#jspaint-paint-area {
    box-sizing: border-box;
    height: 100vh;
    border-left: thin dashed #333;
    box-shadow: 0 0 4px black;
}

#jspaint-canvas.working-with-tools {
    cursor: crosshair;
}

.main-tool {
    margin: .1vh .1vw;
    cursor: pointer;
    padding: .2vh .2vw;
}

.main-tool:hover {
    background-color: #eeeeee;
    border-left: thin solid rebeccapurple;
}

.main-tool-menu {
    padding: .2vh .2vw;
    /*border: thin solid rgba(0, 0, 0, 0.3);*/
}

.main-tool-menu button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.main-tool-menu button:hover,
.main-tool-menu.dropdown.open button.btn-default:active {
    background-color: transparent;
}

.main-tool-menu .main-tool {
    margin-top: 5px;
}

.common-menu-bar .menu-item {
    margin: 5px 0;
}

.menu-item .menu-item {
    margin: 0 5px;
}

.menu-item label {
    margin: 0 5px;
}

i.glyphicon:active {
    color: #FF0000;
}

.contextual-tool-bar input[disabled="disabled"] {
    cursor: not-allowed;
}

h1#brand {
    margin: 0;
}

h1#brand a {
    color: #333333;
}

#main-grid .Menu {
    padding-left: 1vw;
    overflow: hidden;
    height: 100vh;
    max-width: 300px;
}

#main-grid .Menu:hover {
    overflow-y: scroll;
    scroll-margin: -12vw;
}

#main-grid .Menu.flex {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.flex {
    display: flex;
    gap: 1vh 1vw;
}

.flex.x {
    flex-direction: row;
}

.flex.y {
    flex-direction: column;
}

.flex.no-gap,
.grid.no-gap {
    gap: 0;
}

.grid {
    display: grid;
}

.grid .full {
    grid-column: 1/3;
}

.grid.x {
    grid-template-columns: 1fr;
}

.grid.x-2 {
    grid-template-columns: 1fr 1fr;
}

.lite-heading {
    font-weight: bold;
}

/* button starts */
.button {
    padding: 3px 5px;
    border: thin solid silver;
    background-color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #eee;
}

.button:active {
    background-color: #ddd;
    border-style: inset;
}

a.button {
    text-decoration: none;
}

/* button ends */

/* margins starts */
.mb-4 {
    margin-bottom: -4px;
}

.mb-6 {
    margin-bottom: -6px;
}

.mb-8 {
    margin-bottom: -8px;
}

.mb-10 {
    margin-bottom: -10px;
}

/* margins ends */

/* text starts */
.tar {
    text-align: right;
}

/* text ends */

/* Landing area */
.landing-area > div {
    margin: 10px 0;
}

.tiny-fonts{
    font-size: 10px;
}

.thin-color {
    max-height: 10px;
    border: 1px black solid;
    outline: 1px white solid;
}