.top-taker {
    position: fixed;
    left: 45%;
    bottom: 1%;
    width: 10%;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    margin: 20px 0;
}

.hide-top-taker {
    display: none;
}

.top-taker-dark {
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}
